@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.welcome {
  animation: bounceIn 5s ease-in-out infinite;
  text-align: center;
}
.right {
  /* width: 800px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}
.right .banner {
  background-color: var(--card-bg);
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px var(--primary-color);
  border-radius: 10px;
}
.left {
  /* width: 500px; */
  flex: 0.5;
}
