header {
  border-bottom: 0.5px solid var(--primary-color);
}

header .container {
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
}

.icon {
  font-size: 3rem;
  color: #61dafb;
}

.text {
  font-size: 2rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #61dafb 55%, #fb8261 50%);
  background-clip: text;
  color: transparent;
}
