.navigation {
  width: 300px;
  border-radius: 10px;
  background-color: var(--card-bg);
  border: 1px solid var(--primary-color);
  position: absolute;
  right: 60px;
  top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0 0;
}
.navigation ul {
  display: flex;
  flex-direction: column;
}
.navigation ul li {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}
.navigation ul li:last-child {
  /* padding: 10px; */
  border: none;
  border-bottom: none;
  border-top: none;
}
.navigation ul li:hover {
  background-color: var(--bg-color);
}
.navigation ul li a {
  padding: 20px;
  color: #fff;
}
.navigation button {
  align-self: flex-end;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.navigation button:hover {
  background-color: var(--bg-color);
}
.navigation div.form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(251, 130, 97, 0.3);
  z-index: 1;
}
.navigation div.form button {
  background-color: var(--secondary-color);
  padding: 10px 30px;
  border: 1px solid var(--secondary-color);
  color: var(--dark-color);
  width: auto;
  height: auto;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}
