.notification-section {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.notification {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.notification li {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 var(--primary-color);
}
.notification li h3 {
  color: var(--primary-color);
}
.notification-section > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification-section > .top button {
  font-size: 1.5rem;
  padding: 0;
  width: 35px;
  height: 35px;
}
div.notification-section div.form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(251, 130, 97, 0.3);
}
