.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
main .row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tables {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
}
.tables table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}
table thead {
  background-color: var(--bg-color);
  box-shadow: 0 1px 3px 0 #899bbd;
}
table td,
table th {
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
}
table th {
  text-align: left;
}
table tbody tr:hover {
  background-color: var(--bg-color);
}

table tbody tr:last-child td {
  border-bottom: none;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tables h3 {
  font-weight: 500;

  font-size: 1.5rem;
  text-align: left;
  flex-shrink: 0;
}
.caption input[type="search"] {
  width: auto;
}
.layout {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.selections {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--card-bg);
}
.print {
  align-self: flex-start;
}
.sort select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 120px;
  background-color: #fff;
  padding: 10px;
  font-size: 1rem;
  appearance: none;
  background-image: url("../public/sort.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.sort select:focus {
  outline: #007bff;
  border-color: #007bff;
}
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 50px auto;
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
}
.modal {
  width: 100%;
  min-height: 85vh;
  background-color: rgba(0, 50, 102, 0.3);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
